PORT=5000
MONGODB_URI=mongodb+srv://EstateHub:EstateHUB76251234@cluster0.objtotk.mongodb.net/real_estate_portal?retryWrites=true&w=majority
JWT_SECRET=d49f5731b159b0586c25d7f1f641bff5973991670869c180b254f785d037c0b60de30f63368f6cc5fc07e4cea007248ddb40c394118c15673b92719feec7175a
JWT_EXPIRE=30d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
GEMINI_API_KEY=your_gemini_api_key
